@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: oklch(51% 0.253 323.949);
  --color-primary-content: oklch(95% 0.037 318.852);
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: oklch(83% 0.145 321.434);
  --color-primary-content: oklch(40% 0.17 325.612);
}
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-noto-sans-tc);
  --font-serif: var(--font-noto-serif-tc);
  --font-mono: var(--font-noto-sans-mono);
}
