@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@theme inline {
  --font-sans: var(--font-noto-sans-tc);
  --font-serif: var(--font-noto-serif-tc);
  --font-mono: var(--font-noto-sans-mono);
}

@utility container {
  margin-inline: auto;
}
