@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@theme inline {
  --font-sans: var(--font-noto-sans-tc);
  --font-serif: var(--font-noto-serif-tc);
  --font-mono: var(--font-noto-sans-mono);
}
